<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="assets/img/logo.png" height="70"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-306ecc5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="306ecc5" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6a0bd94" data-id="6a0bd94" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
          <div class="elementor-element elementor-element-d56f368 elementor-widget elementor-widget-heading" data-id="d56f368" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <h2 class="elementor-heading-title elementor-size-default">&iquest;C&oacute;mo solicitar una devoluci&oacute;n o sustituci&oacute;n de un art&iacute;culo en LocalProductos?</h2>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-5651560 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5651560" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b2f21f2" data-id="b2f21f2" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
          <div class="elementor-element elementor-element-d036014 elementor-widget elementor-widget-spacer" data-id="d036014" data-element_type="widget" data-widget_type="spacer.default">&nbsp;</div>
          <div class="elementor-element elementor-element-5c60881 elementor-widget elementor-widget-text-editor" data-id="5c60881" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
          <div class="elementor-text-editor elementor-clearfix">
          <p>Cada vendedor de LocalProductos tiene su pol&iacute;tica de devoluciones, cambios y reembolsos. Si no est&aacute;s satisfecho con tu pedido y quieres iniciar una solicitud de reembolso o sustituci&oacute;n, ponte en contacto con la tienda que has realizado tu pedido.&nbsp;</p>
          <p>Puedes ponerte en contacto con la tienda:&nbsp;</p>
          <ol>
          <li>Inicia sesi&oacute;n en&nbsp;<a href="https://localproductos.es/">www.localproductos.es</a>&nbsp;con tu usuario y contrase&ntilde;a.&nbsp;</li>
          <li>Dir&iacute;gete a&nbsp;<a href="https://localproductos.es/mi-cuenta/orders/">Tus Pedidos</a></li>
          <li>Elige el pedido que quieres iniciar el reembolso y selecciona la opci&oacute;n &ldquo;Ver&rdquo;</li>
          <li>Haz click en el nombre del vendedor del producto que deseas soliciar la devoluci&oacute;n/sustituci&oacute;n.&nbsp;</li>
          <li>Contacta con el vendedor desde el formulario de contacto o desde los m&eacute;todos que pone a tu disposici&oacute;n el vendedor.&nbsp;</li>
          </ol>
          </div>
          </div>
          </div>
          <div class="elementor-element elementor-element-757e166 elementor-widget elementor-widget-spacer" data-id="757e166" data-element_type="widget" data-widget_type="spacer.default">&nbsp;</div>
          <div class="elementor-element elementor-element-32c4a84 elementor-widget elementor-widget-text-editor" data-id="32c4a84" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
          <div class="elementor-text-editor elementor-clearfix">
          <p>Para los pedidos como invitado, puedes consultar la informaci&oacute;n del vendedor desde el correo electr&oacute;nico en el que recibiste el resumen de tu pedido. Busca en tu bandeja de entrada para encontrar el recibo.&nbsp;</p>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </section>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
