<!-- <ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="assets/img/logo.png" height="70"></ion-title>


  </ion-toolbar>


</ion-header> -->
<ion-header #header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home">Volver</ion-back-button>
    </ion-buttons>
    <!-- <ion-title >Cursos mas Vistos</ion-title> -->
    <img class="logo" src="/assets/img/logo.png">
    <!-- <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="4" class="ion-text-right">
        TV Shows
      </ion-col>
      <ion-col size="4">
        Movies
      </ion-col>
      <ion-col size="4" tappable (click)="openCategories()" class="ion-text-left">
        Categories <ion-icon name="caret-down-outline"></ion-icon>
      </ion-col>
    </ion-row> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header" style="top: 76px;">
  
  
        <ion-list >
       
               
         
<ion-grid>
 

  <ion-row *ngIf="categories" >

    <ion-col size="12">
      <ion-grid *ngIf="spinnerFeatured">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-spinner *ngIf="spinnerFeatured" name="crescent"></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>

        <ion-grid *ngIf="tagsss==0">
          <ion-row *ngFor="let items of categories">

    
            <ion-col size="4" *ngFor="let item of items.cursos" style="height: 168px;">

              <a (click)="cursosVistos(item.id)" routerLink="/tabs/detailCurso/{{item.id}}">
                <img class="tamanoImg"  [src]="item && item.url_image==null ? 'assets/img/portada.jpg' : item.url_image">
                <ion-grid class="claGrid" *ngIf="item && item.tags!='' || item.tags!=null">
                  <ion-row>
                    <ion-col size="12" style="text-align: center;" >
                      <ion-chip class="bckChip" >
              
                        <ion-icon *ngIf="item.tags=='Lecciones'" name="school-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="item.tags=='Preguntas'" name="chatbubble-ellipses-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="item.tags=='Dosis diaria'" name="sunny-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="item.tags=='Programa'" name="bulb-outline" color="primary"></ion-icon>
                        <ion-label>{{item.tags}}</ion-label>
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid class="coraPremiun">
                  <ion-row>
                    
                      <ion-col size="6" style="text-align: left;" *ngIf="item.premiun==1">
                        <a href="#" >
                          <img src="/assets/img/premiun.png" style="width: 18px;"/>
                        </a> 
                      </ion-col>
                    
                    
                    <!-- <ion-col size="6" style="text-align: right;">
                      <a (click)="storeGuardado(series.id)">
                        <ion-icon name="heart" color="danger"></ion-icon>
                      </a> 
                    </ion-col> -->
                 
                  </ion-row>
                </ion-grid>
                </a>

          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid *ngIf="tagsss==1">
        <ion-row >

  
          <ion-col size="4" *ngFor="let item of categories" style="height: 168px;">

            <a (click)="cursosVistos(item.id)" routerLink="/tabs/detailCurso/{{item.id}}">
              <img class="tamanoImg"  [src]="item && item.url_image==null ? 'assets/img/portada.jpg' : item.url_image">
              <ion-grid class="claGrid" *ngIf="item && item.tags!='' || item.tags!=null">
                <ion-row>
                  <ion-col size="12" style="text-align: center;" >
                    <ion-chip class="bckChip" >
            
                      <ion-icon *ngIf="item.tags=='Lecciones'" name="school-outline" color="primary"></ion-icon>
                      <ion-icon *ngIf="item.tags=='Preguntas'" name="chatbubble-ellipses-outline" color="primary"></ion-icon>
                      <ion-icon *ngIf="item.tags=='Dosis diaria'" name="sunny-outline" color="primary"></ion-icon>
                      <ion-icon *ngIf="item.tags=='Programa'" name="bulb-outline" color="primary"></ion-icon>
                      <ion-label>{{item.tags}}</ion-label>
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid class="coraPremiun">
                <ion-row>
                  
                    <ion-col size="6" style="text-align: left;" *ngIf="item.premiun==1">
                      <a href="#" >
                        <img src="/assets/img/premiun.png" style="width: 18px;"/>
                      </a> 
                    </ion-col>
                  
                  
                  <!-- <ion-col size="6" style="text-align: right;">
                    <a (click)="storeGuardado(series.id)">
                      <ion-icon name="heart" color="danger"></ion-icon>
                    </a> 
                  </ion-col> -->
               
                </ion-row>
              </ion-grid>
              </a>

        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-col>
   
    
    
  </ion-row>
</ion-grid>

  
         
        </ion-list>
     



</ion-content>