<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="assets/img/logo.png" height="70"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-306ecc5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="306ecc5" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6a0bd94" data-id="6a0bd94" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
          <div class="elementor-element elementor-element-d56f368 elementor-widget elementor-widget-heading" data-id="d56f368" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <h2 class="elementor-heading-title elementor-size-default">Pol&iacute;tica de env&iacute;o</h2>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-5651560 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5651560" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b2f21f2" data-id="b2f21f2" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
          <div class="elementor-element elementor-element-d036014 elementor-widget elementor-widget-spacer" data-id="d036014" data-element_type="widget" data-widget_type="spacer.default">&nbsp;</div>
          <div class="elementor-element elementor-element-5c60881 elementor-widget elementor-widget-text-editor" data-id="5c60881" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
          <div class="elementor-text-editor elementor-clearfix">
          <p>Los vendedores son los responsables de enviar los art&iacute;culos vendidos a los comprdores.&nbsp;</p>
          <p>Al vender en LocalProductos, los vendedores aceptan:&nbsp;</p>
          <ul>
          <li>Especificar los gastos de env&iacute;o y el tiempo de preparaci&oacute;n.&nbsp;</li>
          <li>Enviar los art&iacute;culos en un plazo m&aacute;ximo de 15 d&iacute;as despu&eacute;s de la compra. A menos que se especifique lo contrario o se acuerde otra fecha de preparaci&oacute;n con el comprador.&nbsp;</li>
          <li>Cumplir con la normativa de env&iacute;o local.&nbsp;</li>
          <li>A&ntilde;adir la informaci&oacute;n de seguimiento del pedido para que el cliente pueda Rastrear el pedido. A&ntilde;adiendo esta informaci&oacute;n nos das permiso para recopilar y compartir estos datos.&nbsp;</li>
          </ul>
          <p>La entrega se realizar&aacute; en la direcci&oacute;n referida por el cliente en d&iacute;a laborable y en horario de oficina, que puede ser distinta a su residencia habitual, pudi&eacute;ndose enviar a su lugar de trabajo o incluso a un tercero al que quiera hacer un regalo.</p>
          <p>Los pedidos se envian a cualquier localidad de Espa&ntilde;a, excepto islas Canarias, Ceuta y Melilla. De manera general, el plazo de entrega es de entre 48 y 72 horas laborables. Sin embargo, el vendedor puede variar esta pol&iacute;tica de env&iacute;o y es el responsable de asegurar su cumplimiento.&nbsp;</p>
          <p>La empresa de transporte elegida por el vendedor podr&aacute; realizar el seguimiento del env&iacute;o mediante correo electr&oacute;nico.&nbsp;</p>
          <p>&iquest;Tienes dudas respecto a tu env&iacute;o? Puedes contactar directamente con el vendedor.&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="elementor-element elementor-element-32c4a84 elementor-widget elementor-widget-text-editor" data-id="32c4a84" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
          <div class="elementor-text-editor elementor-clearfix">
          <p>Para los pedidos como invitado, puedes consultar la informaci&oacute;n del vendedor desde el correo electr&oacute;nico en el que recibiste el resumen de tu pedido. Busca en tu bandeja de entrada para encontrar el recibo.&nbsp;</p>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </section>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
