<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile2">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="assets/img/logo.png" height="70"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid class="fondo-login" >
    <ion-row *ngIf="Sesion">
        <ion-col size="12" class="ion-text-center ion-margin-vertical">
          <ion-text class="labelTitle"><h2 class="labelTitle">Reestablezca su contraseña</h2> </ion-text> 
        </ion-col>
    </ion-row >
    <ion-row class="form ion-margin ion-padding" >
      <ion-col size="12" class="ion-text-center">
        <ion-list lines="none">
          <!-- <ion-item class="confondo"> -->
            <ion-input class="confondo" [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
          <!-- </ion-item> -->
          <!-- <ion-item class="confondo"> -->
            <ion-input class="confondo" *ngIf="mostrarCampos" [(ngModel)]="code" placeholder="Código enviado al email" type="text"></ion-input>
            <ion-input class="confondo" *ngIf="mostrarCampos" [(ngModel)]="password" placeholder="Contraseña" type="password"></ion-input>
          <!-- </ion-item> -->
        </ion-list>
        <!-- <ion-row>
          <ion-col size="12" class="ion-text-right ion-no-padding ion-no-margin">
            <ion-button color="light" fill="clear" size="small" class="btn fs-min">olvide mi contraseña</ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row>

        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="!mostrarCampos"  class="btn negroLocal" (click)="sendcode()">Reestablecer contraseña</ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="mostrarCampos"  class="btn negroLocal" (click)="resetpassword()">Cambiar contraseña</ion-button>
        </ion-col>
  
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button routerLink="/signup" color="orange" class="btn">Registro</ion-button>
        </ion-col>
      </ion-row> -->
       </ion-col>
       <ion-col size="12" class="ion-text-center">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
