.sc-ion-input-md-h{
    padding-top: 5px;
    padding-bottom: 5px;
}
ion-list{
    background: transparent;
}
ion-item.confondo{
    --background: #fed690;
    color: #000;
    opacity: 0.4;
    border-radius: 10px;
    margin-bottom: 10px;
}

ion-item{
    --border-color:transparent;
    --background:transparent;
}

.form{
    // margin-top: 12rem;
    position: relative;
    top: 20%;
}

.btn{
    color: #fff;
}
.fs-min{
    font-size: 10px;
}

.azulLocal{
    --background: #08cfd2;
}

.negroLocal{
    --background: #00cdd0;
    width: 100%;
}

.labelTitle{
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
ion-avatar{
    width: 50px;
    height: 50px;
    margin-right: 0px;
}
ion-card.tarjeta{
    --background:#fed690
}
.centrar{
    margin-left: auto;
    margin-right: auto;
}
ion-input{
    --background:#fed690;
    --color:#000;
    margin-bottom: 20px;
}

.textLink{
    color: #000;
    text-decoration: underline;
}
.textLinkBlue{
    color: #08cfd2;
    // text-decoration: underline;
}