<ion-content padding >
  <ion-grid class="fondo-login">
    <ion-row>
        <ion-col size="12" class="ion-text-center ion-margin-vertical">
          <img src="assets/img/logo_login.png" height="70">
        </ion-col>
    </ion-row>
    <ion-row class="form ion-margin ion-padding">
      <ion-col size="12" class="ion-text-center">
        <ion-list lines="none">
          <ion-item>
            <ion-input placeholder="Usuario" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Telefono" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Contraseña" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Confirmar contraseña" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button color="green" class="btn">Registrarse</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-no-padding ion-no-margin">
            <ion-button routerLink="/" color="light" fill="clear" size="small" class="btn fs-min">Ya poseo un cuenta</ion-button>
          </ion-col>
        </ion-row>
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

