.sc-ion-input-md-h{
    padding-top: 5px;
    padding-bottom: 5px;
}
ion-list{
    background: transparent;
}
ion-item{
    --background: #000;
    color: #fff;
    opacity: 0.4;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form{
    position: relative;
    top: 10%;
}

.btn{
    color: #fff;
}
.fs-min{
    font-size: 10px;
}