<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="assets/img/logo.png" height="70"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="product">
  <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide *ngFor="let image of product.images">
   
      <img [src]="image.src" >
    </ion-slide>
  
  </ion-slides>
  <ion-card>
    <ion-item>
    
      <ion-label>{{product.name}}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <div [innerHTML]="product.description"></div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item routerLink="/detail/{{product.store.id}}" >
    
      <ion-icon name="storefront" slot="start"></ion-icon>
      <ion-label class="colorPrincipal">{{product.store.name}}</ion-label>
    </ion-item>
  <div *ngIf="product.type=='variable'">
    <ion-item  *ngFor="let atributtes of product.attributes">
      <ion-label>{{atributtes.name}}</ion-label>
      <ion-select interface="popover" (ionChange)="getAttribute(atributtes.name,$event)">
        <ion-select-option *ngFor="let option of atributtes.options;let i = index" value="{{option}}" >{{option}}</ion-select-option>

      </ion-select>
    </ion-item>
  </div>
    <ion-item href="#">
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label [innerHTML]="product.price_html" *ngIf="product.type=='simple'"></ion-label>
      <ion-label  *ngIf="product.type=='variable'"> {{datosVariacion.price}} €</ion-label>
    </ion-item>


  
    <ion-item (click)="addCart(product.id)">
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>Añadir al carrito</ion-label>
    </ion-item>
    <ion-item (click)="addCartWish(product)">
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label>Lista de deseos</ion-label>
    </ion-item>
  

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
